.wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  max-width: 900px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .wrapper {
    padding: 20px;
  }
}

.Chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
@media (min-width: 800px) {
  .Chat {
    border-radius: 20px;
  }
}

.title {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: #1B1E20;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  gap: 10px;
  overflow: auto;
}
.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}